# ==============================
# Queue Monitoring System
# Requirements
# ==============================

# Deep Learning
torch>=2.3.0
torchvision>=0.18.0
ultralytics>=8.3.0

# Computer Vision
opencv-python>=4.10.0
Pillow>=10.3.0

# Data Processing
numpy>=1.24.0
pandas>=2.2.2
scipy>=1.13.1

# Visualization
matplotlib>=3.8.0

# Roboflow Dataset
roboflow>=1.1.48

# ByteTrack Dependency
lap>=0.5.13

# Utilities
PyYAML>=6.0
tqdm>=4.66.4